<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>

    <body>
        <h1 th:text="${bankVO.bankTO.name + ' clients:'}" />

        <table>
            <tr th:each="person : ${bankVO.personTOs}">
                <td><a th:href="@{/bank/{bankId}/client/{clientId}/accounts(bankId=${bankVO.bankTO.id},clientId=${person.id})}" th:text="${person.firstName + ' ' + person.lastName}" /></td>
            </tr>
        </table>
        <a th:href="@{/banks}" >Back to banks</a>
    </body>
</html>